<section class="text-slate-100 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-gray-200">History</span>
                    <span class="mt-1 text-gray-100 text-sm">25 Jan 2014</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-300 title-font mb-2">Bitters hashtag waistcoat fashion axe
                        chia unicorn</h2>
                    <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist
                        pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware
                        kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>

                    </a>
                </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-gray-200">Mission</span>
                    <span class="mt-1 text-gray-100 text-sm">We aim to </span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-300 title-font mb-2">Meditation bushwick direct trade
                        taxidermy shaman</h2>
                    <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist
                        pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware
                        kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>

                    </a>
                </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-gray-200">Anniversary</span>
                    <span class="text-sm text-gray-100">26 January</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-300 title-font mb-2">Woke master cleanse drinking vinegar
                        salvia</h2>
                    <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist
                        pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware
                        kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>