<section class="text-slate-300 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex w-full mb-20 flex-wrap">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-slate-200 lg:w-1/3 lg:mb-0 mb-4">Buy the Best Courses and Master Gyming</h1>
      <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">Whatever you want buy it at very reliable prices. Out Gym is the best gym of India as we have taken the prople's survey and got:  </p>
      <ul>
          <li class="sm:text-1xl text-1xl font-medium title-font text-slate-200 my-3">Power Up : 46.86%</li>
          <li class="sm:text-1xl text-1xl font-medium title-font text-slate-200 my-3">Stanza Gym : 18.54%</li>
          <li class="sm:text-1xl text-1xl font-medium title-font text-slate-200 my-3">Gold's Gym : 13.7%</li>
          <li class="sm:text-1xl text-1xl font-medium title-font text-slate-200 my-3">Solaris : 13.67%</li>
          <li class="sm:text-1xl text-1xl font-medium title-font text-slate-200 my-3">Ozone Gym : 7.23%</li>
      </ul>
         </div>
    <div class="flex flex-wrap md:-m-2 -m-1">
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://source.unsplash.com/random/?gym/500x300">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://source.unsplash.com/random/?lectures/501x301">
        </div>
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://source.unsplash.com/random/?healthy/600x360">
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://source.unsplash.com/random/?athletics/601x361">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://source.unsplash.com/random/?gym/502x302">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://source.unsplash.com/random/?gym/503x303">
        </div>
      </div>
    </div>
  </div>
</section>